@model BankAccount


<form method="post">
    <input type="text" asp-for="AccountNumber" placeholder="Enter your Account Number" />
    <input type="text" asp-for="Pin" placeholder="Enter your PIN" />
    <button class="btn btn-primary" type="submit">Update</button>
</form>